In [80]:
import pandas as pd
base = pd.read_csv('census.csv')
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [81]:
base.income.unique()

array([' <=50K', ' >50K'], dtype=object)

In [82]:
def converte_classe(rotulo):
    if rotulo == ' >50K':
        return 1
    else:
        return 0

In [83]:
base.income = base.income.apply(converte_classe)

In [84]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [85]:
X = base.drop('income', axis = 1)
y = base.income

In [86]:
X.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [87]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int64

In [88]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.3)

In [89]:
X_treinamento.shape

(22792, 14)

In [90]:
X_teste.shape

(9769, 14)

In [91]:
base.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [92]:
import tensorflow as tf

In [93]:
base.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [94]:
workclass = tf.feature_column.categorical_column_with_hash_bucket(key = 'workclass', hash_bucket_size = 100)
education = tf.feature_column.categorical_column_with_hash_bucket(key = 'education', hash_bucket_size = 100)
marital_status = tf.feature_column.categorical_column_with_hash_bucket(key = 'marital-status', hash_bucket_size = 100)
occupation = tf.feature_column.categorical_column_with_hash_bucket(key = 'occupation', hash_bucket_size = 100)
relationship = tf.feature_column.categorical_column_with_hash_bucket(key = 'relationship', hash_bucket_size = 100)
race = tf.feature_column.categorical_column_with_hash_bucket(key = 'race', hash_bucket_size = 100)
country = tf.feature_column.categorical_column_with_hash_bucket(key = 'native-country', hash_bucket_size = 100)

In [95]:
base.sex.unique()

array([' Male', ' Female'], dtype=object)

In [96]:
sex = tf.feature_column.categorical_column_with_vocabulary_list(key = 'sex', vocabulary_list=[' Male', ' Female'])

In [97]:
base.age.mean()

38.58164675532078

In [98]:
base.age.std()

13.640432553581146

In [99]:
def padroniza_age(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(38.58)), tf.constant(13.64))

def padroniza_finalweight(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(189778.36)), tf.constant(105549.977))

def padroniza_education(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(10.08)), tf.constant(2.57))

def padroniza_capitalgain(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(1077.64)), tf.constant(7385.29))

def padroniza_capitalloos(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(87.30)), tf.constant(402.96))

def padroniza_hour(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(40.43)), tf.constant(12.34))

In [100]:
age = tf.feature_column.numeric_column(key = 'age', normalizer_fn = padroniza_age)
final_weight = tf.feature_column.numeric_column(key = 'final-weight', normalizer_fn = padroniza_finalweight)
education_num = tf.feature_column.numeric_column(key = 'education-num', normalizer_fn = padroniza_education)
capital_gain = tf.feature_column.numeric_column(key = 'capital-gain', normalizer_fn = padroniza_capitalgain)
capital_loos = tf.feature_column.numeric_column(key = 'capital-loos', normalizer_fn = padroniza_capitalloos)
hour = tf.feature_column.numeric_column(key = 'hour-per-week', normalizer_fn = padroniza_hour)

colunas = [age, workclass, final_weight, education, education_num,
           marital_status, occupation, relationship, race, sex,
           capital_gain, capital_loos, hour, country]

colunas[1]

funcao_treinamento = tf.estimator.inputs.pandas_input_fn(x = X_treinamento, y = y_treinamento,
                                                        batch_size = 32, num_epochs = None, shuffle = True)
classificador = tf.estimator.DNNClassifier(hidden_units = [8, 8], feature_columns=colunas, n_classes=2)
classificador.train(input_fn = funcao_treinamento)

In [101]:
len(base.workclass.unique())

9

In [102]:
embedded_workclass = tf.feature_column.embedding_column(workclass, dimension = 9)
embedded_education = tf.feature_column.embedding_column(education, dimension = len(base.education.unique()))
embedded_marital = tf.feature_column.embedding_column(marital_status, dimension = len(base['marital-status'].unique()))
embedded_occupation = tf.feature_column.embedding_column(occupation, dimension = len(base.occupation.unique()))
embedded_relationship = tf.feature_column.embedding_column(relationship, dimension = len(base.relationship.unique()))
embedded_race = tf.feature_column.embedding_column(race, dimension = len(base.race.unique()))
embedded_sex = tf.feature_column.embedding_column(sex, dimension = len(base.sex.unique()))
embedded_country = tf.feature_column.embedding_column(country, dimension = len(base['native-country'].unique()))

In [103]:
colunas_rna = [age, embedded_workclass, final_weight, embedded_education, education_num,
               embedded_marital, embedded_occupation, embedded_relationship, 
               embedded_race, embedded_sex,
               capital_gain, capital_loos, hour, embedded_country]

In [104]:
funcao_treinamento = tf.estimator.inputs.pandas_input_fn(x = X_treinamento, y = y_treinamento,
                                                        batch_size = 32, num_epochs = None, shuffle = True)
classificador = tf.estimator.DNNClassifier(hidden_units = [8, 8], feature_columns=colunas_rna, n_classes=2)
classificador.train(input_fn = funcao_treinamento, steps = 10000)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpf415sf5k
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpf415sf5k', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a2618ab00>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpf415sf5k/model.ckpt.
INFO:tensorflow:loss = 20.876432, step = 1
INFO:tensorflow:global_step/sec: 141.195
INFO:tensorflow:loss = 11.609505, step = 101 (0.709 sec)
INFO:tensorflow:global_step/sec: 299.948
INFO:tensorflow:loss = 6.9844155, step = 201 (0.333 sec)
INFO:tensorflow:global_step/sec: 296.923
INFO:tensorflow:loss = 12.054031, step = 301 (0.337 sec)
INFO:tensorflow:global_step/sec: 340.047
INFO:tensorflow:loss = 14.3504715, step = 401 (0.296 sec)
INFO:tensorflow:global_step/sec: 295.741
INFO:tensorflow:loss = 9.303655, step = 501 (0.338 sec)
INFO:tensorflow:global_step/sec: 327.689
INFO:tensorflow:loss = 9.957838, step = 601 (0.304 sec)
INFO:tensorflow:global_step/sec: 316.064
INFO:tensorflow:loss = 7.5921574, step = 701 (0.318 sec)
INFO:tensorflow:global_step/sec: 316.963
INFO:tensorflow:loss = 6.285926, step = 801 (0.315 sec)
INFO:tensorflow:global_step/sec: 345.284
INFO:tensorflow:loss = 7.181012, step = 901 (0.291 sec)
INFO:tensorflow:global_step/sec: 327.546
INFO:tensorflow:loss = 6.025301, step = 1001 (0.304 sec)
INFO:tensorflow:global_step/sec: 349.194
INFO:tensorflow:loss = 8.579573, step = 1101 (0.289 sec)
INFO:tensorflow:global_step/sec: 330.296
INFO:tensorflow:loss = 6.9487433, step = 1201 (0.301 sec)
INFO:tensorflow:global_step/sec: 327.601
INFO:tensorflow:loss = 10.816837, step = 1301 (0.305 sec)
INFO:tensorflow:global_step/sec: 324.699
INFO:tensorflow:loss = 4.858918, step = 1401 (0.309 sec)
INFO:tensorflow:global_step/sec: 318.573
INFO:tensorflow:loss = 9.455776, step = 1501 (0.313 sec)
INFO:tensorflow:global_step/sec: 328.482
INFO:tensorflow:loss = 6.674761, step = 1601 (0.303 sec)
INFO:tensorflow:global_step/sec: 328.666
INFO:tensorflow:loss = 5.087702, step = 1701 (0.305 sec)
INFO:tensorflow:global_step/sec: 346.475
INFO:tensorflow:loss = 10.674351, step = 1801 (0.288 sec)
INFO:tensorflow:global_step/sec: 332.613
INFO:tensorflow:loss = 8.585301, step = 1901 (0.302 sec)
INFO:tensorflow:global_step/sec: 338.775
INFO:tensorflow:loss = 9.808889, step = 2001 (0.293 sec)
INFO:tensorflow:global_step/sec: 333.885
INFO:tensorflow:loss = 10.215139, step = 2101 (0.299 sec)
INFO:tensorflow:global_step/sec: 342.806
INFO:tensorflow:loss = 10.561817, step = 2201 (0.292 sec)
INFO:tensorflow:global_step/sec: 308.608
INFO:tensorflow:loss = 6.2765903, step = 2301 (0.322 sec)
INFO:tensorflow:global_step/sec: 344.933
INFO:tensorflow:loss = 4.4474406, step = 2401 (0.292 sec)
INFO:tensorflow:global_step/sec: 314.861
INFO:tensorflow:loss = 7.401169, step = 2501 (0.317 sec)
INFO:tensorflow:global_step/sec: 314.338
INFO:tensorflow:loss = 4.590215, step = 2601 (0.317 sec)
INFO:tensorflow:global_step/sec: 287.45
INFO:tensorflow:loss = 10.054376, step = 2701 (0.347 sec)
INFO:tensorflow:global_step/sec: 286.64
INFO:tensorflow:loss = 10.182831, step = 2801 (0.349 sec)
INFO:tensorflow:global_step/sec: 295.146
INFO:tensorflow:loss = 8.811587, step = 2901 (0.339 sec)
INFO:tensorflow:global_step/sec: 324.643
INFO:tensorflow:loss = 12.888407, step = 3001 (0.312 sec)
INFO:tensorflow:global_step/sec: 293.628
INFO:tensorflow:loss = 4.121532, step = 3101 (0.337 sec)
INFO:tensorflow:global_step/sec: 341.408
INFO:tensorflow:loss = 11.100976, step = 3201 (0.295 sec)
INFO:tensorflow:global_step/sec: 282.968
INFO:tensorflow:loss = 9.438206, step = 3301 (0.351 sec)
INFO:tensorflow:global_step/sec: 294.667
INFO:tensorflow:loss = 13.186365, step = 3401 (0.339 sec)
INFO:tensorflow:global_step/sec: 309.001
INFO:tensorflow:loss = 9.750561, step = 3501 (0.324 sec)
INFO:tensorflow:global_step/sec: 327.178
INFO:tensorflow:loss = 7.741351, step = 3601 (0.307 sec)
INFO:tensorflow:global_step/sec: 345.472
INFO:tensorflow:loss = 9.542549, step = 3701 (0.289 sec)
INFO:tensorflow:global_step/sec: 337.666
INFO:tensorflow:loss = 11.018101, step = 3801 (0.297 sec)
INFO:tensorflow:global_step/sec: 374.811
INFO:tensorflow:loss = 7.259844, step = 3901 (0.267 sec)
INFO:tensorflow:global_step/sec: 324.705
INFO:tensorflow:loss = 17.05455, step = 4001 (0.307 sec)
INFO:tensorflow:global_step/sec: 333.25
INFO:tensorflow:loss = 7.32985, step = 4101 (0.300 sec)
INFO:tensorflow:global_step/sec: 349.586
INFO:tensorflow:loss = 17.022533, step = 4201 (0.289 sec)
INFO:tensorflow:global_step/sec: 342.794
INFO:tensorflow:loss = 11.698382, step = 4301 (0.290 sec)
INFO:tensorflow:global_step/sec: 327.333
INFO:tensorflow:loss = 19.290377, step = 4401 (0.306 sec)
INFO:tensorflow:global_step/sec: 320.955
INFO:tensorflow:loss = 9.243101, step = 4501 (0.309 sec)
INFO:tensorflow:global_step/sec: 332.011
INFO:tensorflow:loss = 10.953583, step = 4601 (0.303 sec)
INFO:tensorflow:global_step/sec: 353.101
INFO:tensorflow:loss = 9.686698, step = 4701 (0.284 sec)
INFO:tensorflow:global_step/sec: 354.444
INFO:tensorflow:loss = 10.177429, step = 4801 (0.281 sec)
INFO:tensorflow:global_step/sec: 353.16
INFO:tensorflow:loss = 6.761597, step = 4901 (0.283 sec)
INFO:tensorflow:global_step/sec: 343.721
INFO:tensorflow:loss = 15.781371, step = 5001 (0.291 sec)
INFO:tensorflow:global_step/sec: 333.048
INFO:tensorflow:loss = 12.527397, step = 5101 (0.301 sec)
INFO:tensorflow:global_step/sec: 332.77
INFO:tensorflow:loss = 10.836185, step = 5201 (0.301 sec)
INFO:tensorflow:global_step/sec: 350.985
INFO:tensorflow:loss = 12.858137, step = 5301 (0.283 sec)
INFO:tensorflow:global_step/sec: 347.958
INFO:tensorflow:loss = 17.176428, step = 5401 (0.290 sec)
INFO:tensorflow:global_step/sec: 349.165
INFO:tensorflow:loss = 7.548726, step = 5501 (0.287 sec)
INFO:tensorflow:global_step/sec: 305.852
INFO:tensorflow:loss = 13.710682, step = 5601 (0.323 sec)
INFO:tensorflow:global_step/sec: 328.977
INFO:tensorflow:loss = 5.148, step = 5701 (0.306 sec)
INFO:tensorflow:global_step/sec: 347.624
INFO:tensorflow:loss = 6.602684, step = 5801 (0.287 sec)
INFO:tensorflow:global_step/sec: 355.213
INFO:tensorflow:loss = 6.505745, step = 5901 (0.282 sec)
INFO:tensorflow:global_step/sec: 309.2
INFO:tensorflow:loss = 8.283876, step = 6001 (0.323 sec)
INFO:tensorflow:global_step/sec: 348.681
INFO:tensorflow:loss = 9.92911, step = 6101 (0.286 sec)
INFO:tensorflow:global_step/sec: 326.489
INFO:tensorflow:loss = 10.095624, step = 6201 (0.309 sec)
INFO:tensorflow:global_step/sec: 342.167
INFO:tensorflow:loss = 14.187301, step = 6301 (0.291 sec)
INFO:tensorflow:global_step/sec: 353.255
INFO:tensorflow:loss = 4.375562, step = 6401 (0.283 sec)
INFO:tensorflow:global_step/sec: 334.744
INFO:tensorflow:loss = 10.467787, step = 6501 (0.298 sec)
INFO:tensorflow:global_step/sec: 363.182
INFO:tensorflow:loss = 8.452007, step = 6601 (0.276 sec)
INFO:tensorflow:global_step/sec: 352.289
INFO:tensorflow:loss = 11.707357, step = 6701 (0.282 sec)
INFO:tensorflow:global_step/sec: 310.3
INFO:tensorflow:loss = 9.599977, step = 6801 (0.322 sec)
INFO:tensorflow:global_step/sec: 326.3
INFO:tensorflow:loss = 6.9248724, step = 6901 (0.306 sec)

INFO:tensorflow:global_step/sec: 326.536
INFO:tensorflow:loss = 8.061034, step = 7001 (0.306 sec)
INFO:tensorflow:global_step/sec: 328.093
INFO:tensorflow:loss = 13.10276, step = 7101 (0.305 sec)
INFO:tensorflow:global_step/sec: 325.665
INFO:tensorflow:loss = 6.4659805, step = 7201 (0.307 sec)
INFO:tensorflow:global_step/sec: 351.6
INFO:tensorflow:loss = 7.020935, step = 7301 (0.286 sec)
INFO:tensorflow:global_step/sec: 378.793
INFO:tensorflow:loss = 6.00879, step = 7401 (0.264 sec)
INFO:tensorflow:global_step/sec: 319.516
INFO:tensorflow:loss = 9.783718, step = 7501 (0.311 sec)
INFO:tensorflow:global_step/sec: 324.782
INFO:tensorflow:loss = 7.849255, step = 7601 (0.308 sec)
INFO:tensorflow:global_step/sec: 331.563
INFO:tensorflow:loss = 12.040825, step = 7701 (0.302 sec)
INFO:tensorflow:global_step/sec: 327.422
INFO:tensorflow:loss = 9.833123, step = 7801 (0.305 sec)
INFO:tensorflow:global_step/sec: 331.749
INFO:tensorflow:loss = 5.5378847, step = 7901 (0.302 sec)
INFO:tensorflow:global_step/sec: 344.48
INFO:tensorflow:loss = 5.7930403, step = 8001 (0.291 sec)
INFO:tensorflow:global_step/sec: 316.101
INFO:tensorflow:loss = 7.0872307, step = 8101 (0.315 sec)
INFO:tensorflow:global_step/sec: 338.129
INFO:tensorflow:loss = 6.5088263, step = 8201 (0.298 sec)
INFO:tensorflow:global_step/sec: 323.425
INFO:tensorflow:loss = 15.301827, step = 8301 (0.307 sec)
INFO:tensorflow:global_step/sec: 320.547
INFO:tensorflow:loss = 7.284957, step = 8401 (0.312 sec)
INFO:tensorflow:global_step/sec: 324.993
INFO:tensorflow:loss = 7.6713767, step = 8501 (0.308 sec)
INFO:tensorflow:global_step/sec: 318.463
INFO:tensorflow:loss = 12.483152, step = 8601 (0.314 sec)
INFO:tensorflow:global_step/sec: 322.333
INFO:tensorflow:loss = 11.423468, step = 8701 (0.310 sec)
INFO:tensorflow:global_step/sec: 326.237
INFO:tensorflow:loss = 7.897526, step = 8801 (0.307 sec)
INFO:tensorflow:global_step/sec: 355.038
INFO:tensorflow:loss = 8.875294, step = 8901 (0.284 sec)
INFO:tensorflow:global_step/sec: 322.534
INFO:tensorflow:loss = 15.0968, step = 9001 (0.308 sec)
INFO:tensorflow:global_step/sec: 323.971
INFO:tensorflow:loss = 14.957191, step = 9101 (0.308 sec)
INFO:tensorflow:global_step/sec: 326.706
INFO:tensorflow:loss = 13.6683655, step = 9201 (0.306 sec)
INFO:tensorflow:global_step/sec: 320.659
INFO:tensorflow:loss = 11.532865, step = 9301 (0.312 sec)
INFO:tensorflow:global_step/sec: 349.65
INFO:tensorflow:loss = 6.9877653, step = 9401 (0.288 sec)
INFO:tensorflow:global_step/sec: 349.572
INFO:tensorflow:loss = 10.333015, step = 9501 (0.286 sec)
INFO:tensorflow:global_step/sec: 323.514
INFO:tensorflow:loss = 9.941242, step = 9601 (0.307 sec)
INFO:tensorflow:global_step/sec: 328.858
INFO:tensorflow:loss = 12.405344, step = 9701 (0.305 sec)
INFO:tensorflow:global_step/sec: 320.912
INFO:tensorflow:loss = 13.716091, step = 9801 (0.311 sec)
INFO:tensorflow:global_step/sec: 332.341
INFO:tensorflow:loss = 8.580544, step = 9901 (0.301 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpf415sf5k/model.ckpt.
INFO:tensorflow:Loss for final step: 9.941246.

In [105]:
funcao_teste = tf.estimator.inputs.pandas_input_fn(x = X_teste, y = y_teste, batch_size = 32,
                                                  num_epochs = 1, shuffle = False)

In [106]:
classificador.evaluate(input_fn=funcao_teste)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-11-08-21:34:54
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpf415sf5k/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-11-08-21:34:56
INFO:tensorflow:Saving dict for global step 10000: accuracy = 0.8587368, accuracy_baseline = 0.76333296, auc = 0.91518855, auc_precision_recall = 0.78408, average_loss = 0.3043459, global_step = 10000, label/mean = 0.236667, loss = 9.716193, precision = 0.716946, prediction/mean = 0.25281367, recall = 0.66608995
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 10000: /var/folders/7f/wlmrltf57q95bdd5fl85dpw40000gn/T/tmpf415sf5k/model.ckpt-10000

{'accuracy': 0.8587368,
 'accuracy_baseline': 0.76333296,
 'auc': 0.91518855,
 'auc_precision_recall': 0.78408,
 'average_loss': 0.3043459,
 'label/mean': 0.236667,
 'loss': 9.716193,
 'precision': 0.716946,
 'prediction/mean': 0.25281367,
 'recall': 0.66608995,
 'global_step': 10000}

https://towardsdatascience.com/how-to-normalize-features-in-tensorflow-5b7b0e3a4177