In [1]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

C:\Users\Joel Pires\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Joel Pires\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Joel Pires\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Joel Pires\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Joel Pires\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Joel Pires\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
data = pd.read_csv('credit_data.csv')
data.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [3]:
data.shape

(2000, 5)

In [4]:
data = data.drop('i#clientid', axis = 1)
data.head()

         income        age         loan  c#default
0  66155.925095  59.017015  8106.532131          0
1  34415.153966  48.117153  6564.745018          0
2  57317.170063  63.108049  8020.953296          0
3  42709.534201  45.751972  6103.642260          0
4  66952.688845  18.584336  8770.099235          1

In [5]:
data = data.dropna()
data.shape

(1997, 4)

In [6]:
scaler_x = StandardScaler()
data[['income', 'age', 'loan']] = scaler_x.fit_transform(data[['income', 'age', 'loan']])
data.head()

     income       age      loan  c#default
0  1.453898  1.336861  1.201907          0
1 -0.762398  0.536639  0.695744          0
2  0.836733  1.637207  1.173812          0
3 -0.183244  0.362998  0.544366          0
4  1.509532 -1.631534  1.419754          1

In [7]:
X = data.drop('c#default', axis = 1)
y = data['c#default']

In [8]:
X.head()

     income       age      loan
0  1.453898  1.336861  1.201907
1 -0.762398  0.536639  0.695744
2  0.836733  1.637207  1.173812
3 -0.183244  0.362998  0.544366
4  1.509532 -1.631534  1.419754

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    1
Name: c#default, dtype: int64

In [10]:
X.columns

Index(['income', 'age', 'loan'], dtype='object')

In [11]:
colunas = [tf.feature_column.numeric_column(key = column) for column in X.columns]

In [12]:
print(colunas[2])

_NumericColumn(key='loan', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [14]:
X_train.shape

(1397, 3)

In [15]:
X_test.shape

(600, 3)

In [16]:
train_function = tf.estimator.inputs.pandas_input_fn(x = X_train,
                                                        y = y_train,
                                                        batch_size = 8, 
                                                        num_epochs = None,
                                                        shuffle = True)

In [17]:
classifier = tf.estimator.DNNClassifier(feature_columns = colunas, hidden_units = [4, 4])
classifier.train(input_fn = train_function, steps = 1000)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\JOELPI~1\AppData\Local\Temp\tmp5vnsv2my
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\JOELPI~1\\AppData\\Local\\Temp\\tmp5vnsv2my', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001C4D7D601D0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\JOELPI~1\AppData\Local\Temp\tmp5vnsv2my\model.ckpt.
INFO:tensorflow:loss = 5.290284, step = 0
INFO:tensorflow:global_step/sec: 146.9
INFO:tensorflow:loss = 3.41896, step = 100 (0.685 sec)
INFO:tensorflow:global_step/sec: 218.944
INFO:tensorflow:loss = 7.0953617, step = 200 (0.457 sec)
INFO:tensorflow:global_step/sec: 203.78
INFO:tensorflow:loss = 0.733505, step = 300 (0.490 sec)
INFO:tensorflow:global_step/sec: 181.263
INFO:tensorflow:loss = 1.2329168, step = 400 (0.553 sec)
INFO:tensorflow:global_step/sec: 167.495
INFO:tensorflow:loss = 2.3994284, step = 500 (0.597 sec)
INFO:tensorflow:global_step/sec: 189.88
INFO:tensorflow:loss = 0.33060163, step = 600 (0.530 sec)
INFO:tensorflow:global_step/sec: 162.167
INFO:tensorflow:loss = 0.5039535, step = 700 (0.615 sec)
INFO:tensorflow:global_step/sec: 187.023
INFO:tensorflow:loss = 0.51936877, step = 800 (0.535 sec)
INFO:tensorflow:global_step/sec: 185.291
INFO:tensorflow:loss = 0.6364545, step = 900 (0.538 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\JOELPI~1\AppData\Local\Temp\tmp5vnsv2my\model.ckpt.
INFO:tensorflow:Loss for final step: 1.6562827.

In [18]:
test_function = tf.estimator.inputs.pandas_input_fn(x = X_test, y = y_test,
                                              batch_size = 8, num_epochs = 1000,
                                              shuffle = False)

In [19]:
test_metrics = classifier.evaluate(input_fn = test_function, steps = 1000)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-01-18-01:23:27
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\JOELPI~1\AppData\Local\Temp\tmp5vnsv2my\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Evaluation [100/1000]
INFO:tensorflow:Evaluation [200/1000]
INFO:tensorflow:Evaluation [300/1000]
INFO:tensorflow:Evaluation [400/1000]
INFO:tensorflow:Evaluation [500/1000]
INFO:tensorflow:Evaluation [600/1000]
INFO:tensorflow:Evaluation [700/1000]
INFO:tensorflow:Evaluation [800/1000]
INFO:tensorflow:Evaluation [900/1000]
INFO:tensorflow:Evaluation [1000/1000]
INFO:tensorflow:Finished evaluation at 2020-01-18-01:23:42
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.9465, accuracy_baseline = 0.8635, auc = 0.9850168, auc_precision_recall = 0.9167275, average_loss = 0.120992295, global_step = 1000, label/mean = 0.1365, loss = 0.96793836, precision = 0.84655535, prediction/mean = 0.12825325, recall = 0.742674

In [20]:
test_metrics

{'accuracy': 0.9465,
 'accuracy_baseline': 0.8635,
 'auc': 0.9850168,
 'auc_precision_recall': 0.9167275,
 'average_loss': 0.120992295,
 'label/mean': 0.1365,
 'loss': 0.96793836,
 'precision': 0.84655535,
 'prediction/mean': 0.12825325,
 'recall': 0.742674,
 'global_step': 1000}